<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="#"><span ></span>About</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-faq"></span>FAQ</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-contact"></span>Contact</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">stuff</a></li>
            
            <li><a href="#">more stuff</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#">Contact<span class="glyphicon glyphicon-contact"></span> </a>
      </li>
    </ul>
  </div>
</nav>
